<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::title/text()}, ~{::section})}">
<head>
  <title>Cadastro de Quartos</title>
</head>
<body>
<section>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Gestão de Quarto - Cadastrar</h3>
    </div>

    <form th:action="@{/quarto/salvar}" th:object="${quartoForm}" method="post">
      <input type="hidden" th:field="*{id}" />

      <div class="card-body">

        <!-- Quarto -->
        <div class="form-group">
          <label for="quarto">Quarto</label>
          <input type="text"
                 th:classappend="${#fields.hasErrors('quarto')} ? 'is-invalid'"
                 class="form-control" id="quarto" th:field="*{quarto}" placeholder="adicione um quarto">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('quarto')}" th:errors="*{quarto}"></div>
        </div>

        <!-- Leito -->
        <div class="form-group">
          <label for="leito">Leito</label>
          <input type="text"
                 th:classappend="${#fields.hasErrors('leito')} ? 'is-invalid'"
                 class="form-control" id="leito" th:field="*{leito}" placeholder="adicione um leito">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('leito')}" th:errors="*{leito}"></div>
        </div>

      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a th:href="@{/quarto}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
</section>
</body>
</html>
