<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::title/text()}, ~{::section}, ~{::script})}">
<head>
    <title>Cadastro de Quarto</title>
</head>
<body>
<section>
    <!-- Mensagem de erro -->
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-exclamation-triangle"></i>
        <span th:text="${errorMessage}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <!-- Mensagem de sucesso -->
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fas fa-check-circle"></i>
        <span th:text="${successMessage}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Gestão de Quartos - Cadastrar</h3>
        </div>

        <form th:action="@{/quarto/salvar}" th:object="${quarto}" method="post">

            <input type="hidden" th:field="*{id}"/>

            <div class="card-body">

                <div class="form-group">
                    <label for="numeroQuarto" class="form-label">Número do Quarto:</label>
                    <input type="text" id="numeroQuarto" class="form-control" th:field="*{numeroQuarto}" required>
                    <div th:if="${mensagemErro}" th:text="${mensagemErro}" class="text-danger"></div>
                </div>

                <div class="alert alert-secondary w-50">
                    Este quarto será criado com <strong>4 leitos</strong> (Leito 01, 02, 03 e 04) automaticamente.
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a th:href="@{/quarto/listar}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</section>
<script>

</script>
</body>
</html>