<!-- Formulário de usuário (novo ou edição) -->
<!DOCTYPE html>
<!-- Puxa o layout principal -->
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout :: layout (~{::title/text()}, ~{::section})}">
<head>
    <title>Cadastro de Usuário - AlberguePro</title>
</head>
<body>
    <section>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Administrar Usuários - Cadastro</h3>
            </div>
            <!-- Formulário que manda os dados pra salvar -->
            <!-- th:object liga o form ao objeto 'usuario' que veio do controller -->
            <form th:action="@{/admin/usuarios/salvar}" th:object="${usuario}" method="post">
                <!-- ID escondido, pra saber se é pra editar ou criar -->
                <input type="hidden" th:field="*{id}" />

                <div class="card-body">
                    <!-- Campo de usuário -->
                    <div class="form-group">
                        <label for="username">Usuário</label>
                        <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Insira o nome de usuário." required>
                    </div>
                    <!-- Campo de senha -->
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Insira uma senha segura.">
                    </div>
                    <!-- Seletor de tipo (role) -->
                    <div class="form-group">
                        <label for="role">Tipo</label>
                        <select class="form-control" id="role" th:field="*{role}">
                            <option value="USER">Usuário - Acesso Básico</option>
                            <option value="ADMIN">Administrador - Acesso Completo</option>
                        </select>
                    </div>
                </div>
                <!-- Botões de Salvar e Cancelar -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a th:href="@{/admin/usuarios}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>