services:
  # servico da aplicacao
  alberguepro:
    # constroi a imagem a partir do dockerfile na pasta atual
    build: .
    # mapeia a porta 8081 do host para a 8081 do container
    ports:
      - "8081:8081"
    # define as variaveis de ambiente para a aplicacao
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/alberguepro?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=
    # define a dependencia do servico de banco de dados
    depends_on:
      - db

  # servico do banco de dados
  db:
    # usa a imagem do mysql 8.0
    image: mysql:8.0
    ports:
      - "3307:3306" # deixei nessa porta pois no meu computador a 3306 já está em uso pq tenho o mysql instalado localmente
    # define as variaveis de ambiente para o banco de dados
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=alberguepro
    # define o volume para persistir os dados do banco
    volumes:
      - mysql-data:/var/lib/mysql

# define o volume nomeado para o banco de dados -> para persistência dos dados entre reinicios/recriações do container
volumes:
  mysql-data:

