<!-- Tela de lista de estoque -->
<!DOCTYPE html>
<!-- Puxa o layout principal, passando o título e o conteúdo -->
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::title/text()}, ~{::section})}">
<head>
    <!-- Título que vai aparecer na aba do navegador -->
    <title>Consultar Patrimônio</title>
</head>
<body>
    <!-- Conteúdo principal da página -->
    <section>
        <!-- Botões de ação -->
        <div class="mb-3">
            <!-- Botão pra criar patrimonio novo -->
            <a th:href="@{/patrimonio/novo}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Novo Patrimômio
            </a>
        </div>

        <!-- Formulário de busca pra filtrar os patrimonios -->
        <form th:action="@{/patrimonio/pesquisar}" method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="filtro" class="form-control" placeholder="Buscar os patrimônios por nome..." th:value="${filtro}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div>
            </div>
        </form>

        <!-- Tabela de patrimonios -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista de Patrimônios</h3>
            </div>
            <div class="card-body">
                <!-- Se não tiver produto, mostra essa mensagem -->
                <div th:if="${#lists.isEmpty(patrimonios)}" class="alert alert-info">
                    Nenhum patrimônio cadastrado.
                </div>

                <!-- A tabela só aparece se tiver produto na lista -->
                <table class="table table-bordered" th:if="${not #lists.isEmpty(patrimonios)}">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Patrimônio</th>
                            <th>Status</th>
                            <th>Data da aquisição</th>
                            <th>Localização atual</th>
                            <th>Observação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop pra criar uma linha pra cada produto -->
                        <!-- Se a qtd for 0, a linha fica amarela -->
                        <tr th:each="patrimonio : ${patrimonios}">

                            <!-- Mostra os dados do produto -->
                            <td th:text="${patrimonio.nome}"></td>
                            <td th:text="${patrimonio.patrimonio}"></td>
                            <td th:text="${patrimonio.status}"></td>
                            <td th:text="${patrimonio.data_aquisicao}"></td>
                            <td th:text="${patrimonio.local_atual}"></td>
                            <td th:text="${patrimonio.observacao}"></td>
                                <!-- Botão pra editar o produto -->
                            <td>
                                <a th:href="@{/patrimonio/editar/{id}(id=${patrimonio.id})}" class="btn btn-warning btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>